.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.book-shelf-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-card-container {
  position: relative;
  background-color: transparent;
  box-shadow: 5px 5px 8px #888;
  height: 100%;
}

.book-image {
  margin: none;
  display: block;
}

.book-info {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.8);
  transition: height, 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-card-container:hover .book-info {
  height: 100%;
}

.book-card-container img {
  min-height: 200px;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

.nav li:hover {
  cursor: pointer;
}